<html>
<title> xyz </title>
  <head>
    
  </head>
  
  <body>
    <h1>
      Addmission Chances Prediction
    </h1>

    
    <form action="/predict" method="POST">
    Enter your GRE_score: <br>
    <input type="text" placeholder="enter ur GRE_score" name="gre" required> <br>
    
          Enter your TOEFL: <br>
    <input type="text" placeholder="enter ur TOEFL" name="toefl" required> <br>
      
      Enter your UNIVERSITY RATING: <br>
    <input type="text" placeholder="enter ur University_rating" name="ur" required> <br>
       
      Enter your CGPA: <br>
    <input type="text" placeholder="enter ur CGPA" name="cgpa" required> <br>
       
   
       Enter your Research: <br>
    <input type="text" placeholder="enter ur Research" name="research" required> <br>
   
       <input type="submit" value="submit">
         
    </form>
    <center>
    {% if prediction %}
    <p>Predicted Chance of Admission: {{ prediction }}%</p>
    {% endif %} 
    </center>
   
    
  </body>
</html>