<html>
<title> xyz </title>
  <head>
    
  </head>
  
  <body>
    <h1>
      hello h1
    </h1>
    <h6>
      hello form h6
    </h6>
    
    <form action="/cp" method="post">
    Enter your GRE_score: <br>
    <input type="text" placeholder="enter ur GRE_score" name="GRE_score" required> <br>
    
          Enter your TOEFL: <br>
    <input type="text" placeholder="enter ur TOEFL" name="TOEFL" required> <br>
      
      Enter your UNIVERSITY RATING: <br>
    <input type="text" placeholder="enter ur University_rating" name="University_rating" required> <br>
       
      Enter your CGPA: <br>
    <input type="text" placeholder="enter ur CGPA" name="CGPA" required> <br>
       
      Enter your CGPA: <br>
    <input type="text" placeholder="enter ur CGPA" name="CGPA" required> <br>
   
       Enter your Research: <br>
    <input type="text" placeholder="enter ur Research" name="Research" required> <br>
       
           Enter your Chance_of_admit: <br>
    <input type="text" placeholder="enter ur Chance_of_admit" name="Chance_of_admit" required> <br>
       <input type="submit" value="submit">
   <h1>
     {{data}}
      </h1>   
      
    </form>
    
  </body>
</html>